*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #494949;
  color: #fff;
  min-height: 100vh;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/patternpad-2025-02-27-15-24-34.svg");
  z-index: -100;
  -webkit-filter: brightness(0.05);
          filter: brightness(0.05);
}

.h1 {
  font-family: "Sansita Swashed";
  font-size: 5rem;
  letter-spacing: 3px;
  font-weight: 900;
  background-image: linear-gradient(145deg, #c7f9cc, #57cc99);
  background-clip: unset;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.progress-bar {
  position: relative;
  width: 900px;
  height: 5px;
  border-radius: 3px;
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -5;
}
.progress-bar__circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #212121;
}
.progress-bar__line {
  position: absolute;
  width: 30px;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 3px;
  z-index: 1;
  background-color: #c7f9cc;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  z-index: 5;
}
.progress-bar .active-circle {
  background-color: #c7f9cc;
  z-index: 10;
}

.calculator {
  width: 900px;
  height: 500px;
  background-color: #ababab;
  margin: 2em;
  margin-bottom: 5em;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #c7f9cc, #80ed99) border-box;
  border: 2px solid transparent;
  border-radius: 6px;
  overflow: hidden;
}

.page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 2em;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  z-index: 100;
}
.page__heading {
  font-size: 4rem;
  margin-bottom: 1em;
  background-image: linear-gradient(145deg, #c7f9cc, #80ed99);
  background-clip: unset;
  -webkit-background-clip: text;
  color: transparent;
}
.page__text {
  font-size: 1.8rem;
  width: 500px;
  text-align: center;
  margin-bottom: 2em;
  background-image: linear-gradient(145deg, #c7f9cc, #80ed99);
  background-clip: unset;
  -webkit-background-clip: text;
  color: transparent;
}
.page__btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #c7f9cc;
  border: 2px solid #000;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 0px #000;
          box-shadow: 5px 5px 0px #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.page__btn:hover {
  background-color: #ffffff;
  color: #57cc99;
  border: 2px solid #c7f9cc;
  -webkit-box-shadow: 5px 5px 0px #c7f9cc;
          box-shadow: 5px 5px 0px #c7f9cc;
}
.page__btn:active {
  background-color: #c7f9cc;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
.page__btn img {
  width: 150px;
  height: 150px;
}
.page .gender-btn {
  margin: 2em;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page .gender-btn:nth-of-type(odd):hover {
  border: 2px solid #0e548a;
  -webkit-box-shadow: 5px 5px 0px #0e548a;
          box-shadow: 5px 5px 0px #0e548a;
}
.page .gender-btn:nth-of-type(odd):active {
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
.page .gender-btn:nth-of-type(even):hover {
  border: 2px solid #e81cff;
  -webkit-box-shadow: 5px 5px 0px #e81cff;
          box-shadow: 5px 5px 0px #e81cff;
}
.page__input {
  width: 150px;
  font-size: 2.2rem;
  padding: 1em;
  color: #fff;
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid #57cc99;
  margin: 1em;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.page__input:focus {
  outline: none;
  border: 2px solid #0e548a;
}
.page__label {
  font-size: 2.4rem;
}
.page__box {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page__box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5em;
  width: 200px;
  height: 200px;
  font-size: 2rem;
  color: #2ea5ff;
}
.page__box .btn-box:nth-of-type(odd) {
  color: #57cc99;
}
.page__box .btn-box .activity-btn {
  margin: 2em;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page__box .btn-box .activity-btn--even:hover {
  border: 2px solid #0e548a;
  -webkit-box-shadow: 5px 5px 0px #0e548a;
          box-shadow: 5px 5px 0px #0e548a;
}
.page__box .btn-box .activity-btn--even:active {
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
.page__results {
  margin-bottom: 1.5em;
}
.page__result {
  color: #fad1ff;
  text-align: center;
  padding: 0.5em;
  font-size: 1.7rem;
}
.page__result span {
  color: #d4f3ff;
}
.page__result .bold {
  font-weight: bold;
  font-size: 2rem;
}/*# sourceMappingURL=style.css.map */