$main-color: #c7f9cc;
$secondary-color: #80ed99;
$tertiary-color: #57cc99;

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   font-family: sans-serif;
   font-size: 1.6rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #494949;
   color: #fff;
   min-height: 100vh;
}

.background {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-image: url("../img/patternpad-2025-02-27-15-24-34.svg");
   z-index: -100;
   filter: brightness(0.05);
}

// h1
.h1 {
   font-family: "Sansita Swashed";
   font-size: 5rem;
   letter-spacing: 3px;
   font-weight: 900;
   background-image: linear-gradient(145deg, $main-color, $tertiary-color);
   background-clip: unset;
   -webkit-background-clip: text;
   color: transparent;
   text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.3);
}

.progress-bar {
   position: relative;
   width: 900px;
   height: 5px;
   border-radius: 3px;
   background-color: #212121;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: -5;
   &__circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #212121;
   }
   //    dynamicznie w js zmieniac % width
   &__line {
      position: absolute;
      width: 0px;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 3px;
      z-index: 1;
      background-color: $main-color;
      transition: width 0.4s;
      z-index: 5;
   }
   //    dynamiczne w js dodajemy
   .active-circle {
      background-color: $main-color;
      z-index: 10;
      animation: showCircle 1.2s;
   }
}

// -----calculator
.calculator {
   width: 900px;
   height: 500px;
   background-color: #ababab;
   margin: 2em;
   margin-bottom: 5em;
   background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, $main-color, $secondary-color) border-box;
   border: 2px solid transparent;
   border-radius: 6px;
   overflow: hidden;
}

.page {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   border-radius: 6px;
   padding: 2em;
   transition: transform 0.4s;
   z-index: 100;
   &__heading {
      font-size: 4rem;
      margin-bottom: 1em;
      background-image: linear-gradient(145deg, $main-color, $secondary-color);
      background-clip: unset;
      -webkit-background-clip: text;
      color: transparent;
   }
   &__text {
      font-size: 1.8rem;
      width: 500px;
      text-align: center;
      margin-bottom: 2em;
      background-image: linear-gradient(145deg, $main-color, $secondary-color);
      background-clip: unset;
      -webkit-background-clip: text;
      color: transparent;
   }
   &__btn {
      display: inline-block;
      padding: 10px 20px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      color: #000;
      background-color: $main-color;
      border: 2px solid #000;
      border-radius: 10px;
      box-shadow: 5px 5px 0px #000;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
         background-color: #ffffff;
         color: $tertiary-color;
         border: 2px solid $main-color;
         box-shadow: 5px 5px 0px $main-color;
      }
      &:active {
         background-color: $main-color;
         color: black;
         box-shadow: none;
         transform: translateY(4px);
      }
      img {
         width: 150px;
         height: 150px;
      }
   }
   .gender-btn {
      margin: 2em;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      &:nth-of-type(odd) {
         &:hover {
            border: 2px solid #0e548a;
            box-shadow: 5px 5px 0px #0e548a;
         }
         &:active {
            color: black;
            box-shadow: none;
            transform: translateY(4px);
         }
      }
      &:nth-of-type(even) {
         &:hover {
            border: 2px solid #e81cff;
            box-shadow: 5px 5px 0px #e81cff;
         }
      }
   }
   &__input {
      width: 150px;
      font-size: 2.2rem;
      padding: 1em;
      color: #fff;
      background-color: transparent;
      border-radius: 6px;
      border: 2px solid $tertiary-color;
      margin: 1em;
      transition: border 0.3s;
      &:focus {
         outline: none;
         border: 2px solid #0e548a;
      }
   }
   &__label {
      font-size: 2.4rem;
   }
   &__box {
      margin-bottom: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-box {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         margin: 0.5em;
         width: 200px;
         height: 200px;
         font-size: 2rem;
         color: #2ea5ff;
         &:nth-of-type(odd) {
            color: $tertiary-color;
         }
         .activity-btn {
            margin: 2em;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            &--even {
               &:hover {
                  border: 2px solid #0e548a;
                  box-shadow: 5px 5px 0px #0e548a;
               }
               &:active {
                  color: black;
                  box-shadow: none;
                  transform: translateY(4px);
               }
            }
         }
      }
   }
   &__results {
      margin-bottom: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      &-box {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
      }
   }
   &__result {
      color: #ffffff;
      text-align: center;
      padding: 0.5em;
      font-size: 2rem;
      &:first-of-type{
         .bold{
            font-size: 3rem;
         }
      }
      span {
         color: #d4f3ff;
      }
      .bold {
         font-weight: bold;
         font-size: 2rem;
         color: #ceffd2;
      }
      .protein {
         color: #3498db;
      }
      .fat {
         color: #f39c12;
      }
      .carbs {
         color: #2ecc71;
      }
   }
   &__error {
      display: none;
      position: absolute;
      bottom: 10%;
      font-size: 20px;
      color: #d32f2f;
      font-weight: bold;
   }
}

.chart-container {
   width: 180px;
}
.chart-info{
   font-size: 1rem;
   margin-top: 1em;
   color: $secondary-color;
   text-align: center;
}

@keyframes showCircle {
   from {
      background-color: #212121;
   }
   to {
      background-color: $main-color;
   }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-2-28 13:11:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */

.shake {
   animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
   0%,
   100% {
      transform: translateX(0);
   }
   10%,
   30%,
   50%,
   70% {
      transform: translateX(-10px);
   }
   20%,
   40%,
   60% {
      transform: translateX(10px);
   }
   80% {
      transform: translateX(8px);
   }
   90% {
      transform: translateX(-8px);
   }
}
